body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-pragati-narrow: "Pragati Narrow";
  --font-radley: Radley;

  /* font sizes */
  --font-size-3xs: 10px;
  --font-size-31xl: 50px;
  --font-size-mini: 15px;
  --font-size-6xl: 25px;

  /* Colors */
  --color-black: #000;
  --color-gray: rgba(255, 255, 255, 0);
}
