.wearest {
  position: absolute;
  top: 56px;
  left: 627px;
  font-family: var(--font-radley);
  -webkit-text-stroke: 1px #000;
}
.social-icon,
.social-icon1 {
  position: absolute;
  top: 0;
  left: 92px;
  width: 50px;
  height: 50px;
  object-fit: cover;
}
.social-icon1 {
  top: 3px;
  left: 0;
  height: 44.4px;
}
.group,
.rectangle {
  position: absolute;
  top: 62px;
  left: 62px;
  width: 142px;
  height: 50px;
}
.rectangle {
  top: 0;
  left: 0;
  border-radius: 30px;
  background-color: #ecd7d7;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
  width: 214px;
  height: 54px;
}
.search-place {
  position: absolute;
  top: 6px;
  left: 70px;
}
.input-search-place {
  position: relative;
  background: transparent;
  margin-right: 5px;
  border: none;
  width: 100%;
  height: 100%;
  font-size: 20px;
}
.input-search-place:focus {
  outline: none;
}
.e4ae9cb11b227491c3394-icon {
  position: absolute;
  top: 17px;
  left: 28px;
  width: 20px;
  height: 19.9px;
  object-fit: cover;
}
.rectangle-parent {
  position: absolute;
  top: 65px;
  left: 1164px;
  width: 214px;
  height: 54px;
  font-size: var(--font-size-6xl);
}
.date,
.seoul-south-korea {
  position: absolute;
  top: 228px;
  left: 0;
}
.seoul-south-korea {
  top: 0;
  display: inline-block;
  width: 164px;
  height: 37px;
}
.seoul-south-korea-wrapper {
  position: absolute;
  top: 296px;
  left: 158px;
  width: 164px;
  height: 37px;
  font-size: var(--font-size-6xl);
}
.div,
.ellipse {
  position: absolute;
}
.div {
  top: 0;
  left: 0;
  display: inline-block;
  width: 123px;
  height: 198px;
  -webkit-text-stroke: 1px #000;
}
.ellipse {
  top: 60px;
  left: 116px;
  border-radius: 50%;
  background-color: var(--color-gray);
  border: 3px solid var(--color-black);
  box-sizing: border-box;
  width: 20px;
  height: 20px;
}
.parent {
  position: absolute;
  top: 0;
  left: 196px;
  width: 136px;
  height: 198px;
  font-size: 150px;
}
.date-parent {
  position: absolute;
  top: 0;
  left: 0;
  width: 332px;
  height: 333px;
}
.line,
.season {
  position: absolute;
}
.line {
  top: 44.5px;
  left: 194.5px;
  border-right: 3px solid var(--color-black);
  box-sizing: border-box;
  width: 3px;
  height: 167px;
}
.season {
  top: 75px;
  left: 0;
  display: inline-block;
  width: 78px;
  height: 37px;
}
.season-icon {
  position: absolute;
  top: 0;
  left: 4px;
  width: 70px;
  height: 70px;
  object-fit: cover;
}
.season-parent {
  position: absolute;
  top: 72px;
  left: 82px;
  width: 78px;
  height: 112px;
  font-size: var(--font-size-6xl);
}
.group-parent {
  position: absolute;
  top: 353px;
  left: 468px;
  width: 332px;
  height: 333px;
  font-size: 40px;
}
.ellipse1,
.line1 {
  position: absolute;
  box-sizing: border-box;
}
.line1 {
  top: -1.5px;
  left: 37.8px;
  border-right: 3px solid var(--color-black);
  width: 3px;
  height: 78px;
}
.ellipse1 {
  top: 9px;
  left: 96.6px;
  border-radius: 50%;
  background-color: var(--color-gray);
  border: 2px solid var(--color-black);
  width: 8.9px;
  height: 10px;
}
.b,
.tue,
.season1 {
  position: absolute;
  top: 0;
  left: 47.3px;
  display: inline-block;
  width: 9.8px;
  height: 71px;
}
.b,
.season1 {
  left: 70px;
  font-size: var(--font-size-31xl);
  width: 31px;
  height: 75px;
}
.season1 {
  top: 51px;
  left: 0.9px;
  font-size: var(--font-size-3xs);
  width: 30.3px;
  height: 15px;
}
.season-icon1 {
  position: absolute;
  top: 14px;
  left: 0;
  width: 26.8px;
  height: 30.9px;
  object-fit: cover;
}
.b1,
.line-parent {
  position: absolute;
  top: 0;
  left: 0;
  width: 105.5px;
  height: 75px;
}
.b1 {
  left: 70px;
  font-size: var(--font-size-31xl);
  display: inline-block;
  width: 31px;
  height: 71px;
}
.line-container,
.line-group {
  position: absolute;
  top: 585px;
  left: 0;
  width: 105.5px;
  height: 75px;
}
.line-container {
  top: 117px;
}
.group-container,
.group-div,
.line-parent1,
.line-parent2 {
  position: absolute;
  top: 234px;
  left: 0;
  width: 105.5px;
  height: 75px;
}
.group-container,
.line-parent1,
.line-parent2 {
  top: 351px;
}
.group-container,
.line-parent2 {
  top: 468px;
}
.group-container {
  top: 233px;
  left: 62px;
  height: 660px;
  font-size: var(--font-size-mini);
}
.scenery-illustration-icon {
  position: absolute;
  top: 278px;
  left: 887px;
  border-radius: 300px;
  width: 516px;
  height: 523px;
  object-fit: cover;
}
.desktop {
  position: relative;
  background: linear-gradient(-79.33deg, #fff, rgba(255, 255, 255, 0)), #ecd7d7;
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-31xl);
  color: var(--color-black);
  font-family: var(--font-pragati-narrow);
}
