.app-body {
  display: grid;
  margin-top: 100px;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 40px;
  height: 100%;
  max-width: 1500px;
  background-color: transparent;
  z-index: 50;
  justify-content: center;
  align-items: flex-start;
}

.scenery-illustration-icon {
  border-radius: 300px;
  width: 100%;
  height: 70%;
  object-fit: cover;
}
