body {
  margin: 0;
  line-height: normal;
}

.desktop {
  position: relative;
  display: flex-column;
  background: linear-gradient(-79.33deg, #fff, rgba(255, 255, 255, 0)), #ecd7d7;
  width: 100%;
  height: 700px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-31xl);
  color: var(--color-black);
  font-family: var(--font-pragati-narrow);
}

:root {
  /* fonts */
  --font-pragati-narrow: "Pragati Narrow";
  --font-radley: Radley;

  /* font sizes */
  --font-size-3xs: 10px;
  --font-size-31xl: 50px;
  --font-size-mini: 15px;
  --font-size-6xl: 25px;

  /* Colors */
  --color-black: #000;
  --color-gray: rgba(255, 255, 255, 0);
}
