.header {
  height: 55px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background: linear-gradient(-79.33deg, #fff, rgba(255, 255, 255, 0)), #ecd7d7;

  z-index: 100;
}

.wearest {
  display: flex;
  top: 56px;
  left: 627px;
  font-family: var(--font-radley);
  -webkit-text-stroke: 1px #000;
}
.social-icon,
.social-icon1 {
  top: 0;
  left: 92px;
  width: 50px;
  height: 50px;
  object-fit: cover;
}
.social-icon1 {
  top: 3px;
  left: 0;
  height: 44.4px;
}
.group-social {
  justify-content: center;
  align-items: center;
  display: flex;
  top: 62px;
  left: 62px;
  width: 142px;
  height: 50px;
  margin-left: 40px;
}

.rectangle-parent {
  display: flex;
  border-radius: 30px;
  background-color: #ecd7d7;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
  width: 300px;
  height: 45px;
  margin-right: 80px;
  font-size: var(--font-size-6xl);
  justify-content: center;
  align-items: center;
}
.rectangle {
  top: 0;
  left: 0;
}
.search-place {
  display: flex;
}
.input-search-place {
  position: relative;
  background: transparent;
  margin: 2px 5px 2px 15px;
  border: none;
  width: 70%;
  height: 100%;
  font-size: 20px;
}
.input-search-place:focus {
  outline: none;
}
.e4ae9cb11b227491c3394-icon {
  margin-left: 10px;
  width: 20px;
  height: 19.9px;
  object-fit: cover;
}
