.main-info-cont {
  width: 333px;
  height: 333px;
  font-size: 40px;
}

.main-info-top {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
  height: 220px;
}

.main-weather-description {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  font-size: var(--font-size-6xl);
  align-items: center;
  justify-content: center;
}
.main-temperature {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 150px;
}

.main-temperature-number {
  display: flex;
  margin-left: 20px;
  width: 100%;
  height: 100%;
  -webkit-text-stroke: 1px #000;
}
.ellipse {
  border-radius: 50%;
  background-color: var(--color-gray);
  border: 3px solid var(--color-black);
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  position: absolute;
  margin-bottom: 80px;
  margin-left: 40px;
}

.main-weather-icon {
  position: relative;
  width: 70%;
  height: 70%;
  object-fit: cover;
}

.main-weather-text {
  width: 30%;
  height: 30%;
  position: relative;
  margin-right: 20px;
}

.line {
  border-right: 3px solid var(--color-black);
  box-sizing: border-box;
  width: 3px;
  height: 167px;
}

.date-parent {
  margin-left: 20px;
  margin-bottom: 20px;
  width: 332px;
  height: 93px;
  display: flex;
  flex-direction: column;
}

.date {
  height: 45px;
  display: flex;
}
.location {
  position: relative;
  font-size: var(--font-size-6xl);
}
